@font-face {
    font-family: heavy;
    src: url(SF-Pro-Text-Heavy.otf);
}

@font-face {
    font-family: light;
    src: url(SF-Pro-Text-Light.otf);
}

@font-face {
    font-family: semibold;
    src: url(SF-Pro-Text-Semibold.otf);
}

body {
    background: url('FerrariBackground.jpg') no-repeat center center fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 15px 0px 0px 60px;
}

.logo {
    color: rgb(212, 205, 205);
    font-size: 40px;
    font-family: semibold;
    letter-spacing: 3px;
    text-decoration: underline yellow;
    text-underline-position: under;
    position:fixed;
}

div ul li {
    display: inline-block;
    font-size: larger;
    font-family: light;
    color: rgb(196, 187, 187);

}

.nav {
    float: right;
    margin-top: -23px;
    display: block;
    padding: 0px 10px;
    font-weight: bold;
}

.navburg {
    position: fixed;
    top: 19px;
    right: 12px;
    z-index: 20;
    display: block;

}

div ul li.nav:hover {
    font-size: 30px;
}

.nav1 {
    font-size: 30px;
    margin-top: -35px !important;
    color: white;
    font-family: light;
}

div ul li.nav:hover {
    font-size: 40px;
}

.class {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    white-space: nowrap;
    font-size: 25px;
    position: fixed;
    width: 100vh;
    top: 0px;
    left: -600px;
    transform: rotate(270deg);
    transform-origin: 100% 100%;
}

ul.class li {
    display: inline;
    padding: 0px 10px;
    font-size: larger;
    font-family: light;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;

}

ul li.under {

    display: inline-block;
    position: relative;

}

ul li.under2 {
    display: inline-block;
    position: relative;
}

ul li.under::after {
    content: "";

    height: 5px;
    background: red;
    position: absolute;
    left: -3px;
    right: 0;
    margin: auto;
    bottom: -12px;
}

ul li.under2::after {
    content: "";
    width: 110px;
    height: 5px;
    background: yellow;
    position: absolute;
    left: -7px;
    right: 0;
    margin: auto;
    bottom: -12px;
}

ul li.bar1::after {
    width: 85px !important;
}

ul li.bar2::after {
    width: 115px !important;
}

ul li.bar3::after {
    width: 165px !important;
}

/*enabling the hamburger*/
.icon {
    display: none;
}


@media screen and (max-width: 500px) {
    .nav {
        display: none;
    }

    .icon {
        display: block;
    }

    .class {
        left: -680px;
    }

    body {
        padding: 0px;
    }

    .menu ul a {
        display: inline !important;
    }

}
@media screen and (min-width: 500px) {
    .menu ul{
        display: none !important;

    }

}


.menu ul {
    display: block;
    width: 180%;
    position: absolute;
    top: 8%;
    padding: 10px 18px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    background: #272727;
    text-decoration: none !important;
    
  
}

.menu ul:after {
    width: 5px;
  
    position: absolute;
    top: 1%;
    right: 51%;
    content: '';
    transform: translate(0%, -100%);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #272727;
}

.menu ul.active {
    display: none;
}

.menu ul a {
    text-decoration: none !important;
    padding:5px 5px;
    color:#c4bbbb;
    font-weight: light;
    font-size: 15px;
    
} 
.menu ul li:nth-child(2) a{
    font-size: 25px;
    color: white;
 
}